-c requirements.txt

black~=23.3
github-actions~=0.0
hypothesis~=6.80
pip-tools~=6.13
pre-commit~=3.3
pytest~=7.4
pytest-cov~=4.1
pyright~=1.1
ruff~=0.0
typos~=1.15
tox~=4.6.4
tox-gh-actions~=3.1
virtualenv~=20.23
