numpy<1.27,>=1.21
scikit-base>=0.6.1,<0.8.0
scikit-learn>=0.24,<1.6.0
scipy>=1.2,<2.0.0
packaging
furo
jupyter
myst-parser
nbsphinx>=0.8.6
numpydoc
pydata-sphinx-theme
Sphinx!=7.2.0,<8.0.0
sphinx-rtd-theme>=1.3.0
sphinx-copybutton>=0.5.2
sphinx-design<0.6.0
sphinx-gallery<0.15.0
sphinx-issues<4.0.0
sphinx-version-warning
tabulate>=0.9.0
